<div class = "row">
	<div class = "two columns"></div>
	<div class = "two columns mobile-one" id = "bar_1" style = "margin-top: 2em"></div>
	<div class = "two columns mobile-one" id = "bar_2" style = "margin-top: 2em"></div>
	<div class = "two columns mobile-one" id = "bar_3" style = "margin-top: 2em"></div>
	<div class = "two columns mobile-one" id = "bar_4" style = "margin-top: 2em"></div>
	<div class = "two columns"></div>
</div>