<div class = "row">
	<div class = "eight columns centered mobile-six">
		<div class = "radius row panel" style = "margin-top: 0.5em">
			
			<h6 style = "text-align: center">You will be challenged on:</h6>
			<div class = "twelve columns mobile-six" style = "text-align: center; margin-top: 1em">
				<h5><%= reason.get('title') %></h5>
			</div>
			<div class = "twelve columns mobile-six" style = "width: 100%; margin-top: 3em">
				<button id = "start" type = "button" class = "radius dark button" style = "width: 100%">Start Challenge!</button>
			</div>
		</div>
	</div>
</div>