<div class = "row">
	<div class = "eight columns centered mobile-four">
		<div class = "row panel">
			
			<h6 style = "text-align: center">You will be quizzed on:</h6>
			<div class = "tweleve columns mobile-four" style = "text-align: center">
				<h5><%= reason.get('title') %></h5>
			</div>
			<div class = "tweleve columns mobile-four" style = "width: 100%; margin-top: 2em">
				<button id = "start" type = "button" class = "success button" style = "width: 100%">Start Quiz!</button>
			</div>
		</div>
	</div>
</div>