<div class = "row">
	<div class = "eight columns centered mobile-four">
		<div class = "row panel">
			<div class = "tweleve columns mobile-four" style = "text-align: center; width: 100%">
			<% if (winner) { %>
				<h5>You Won The Challenge!</h5>
			<% } else { %>
				<h5>You Lost The Challenge...</h5>
			<% } %>
			</div>
			<div class = "tweleve columns mobile-four" style = "text-align: center; margin-top: 2em; width: 100%">
				<div class = "row">
					<div class = "four columns mobile-one" style = "text-align: center">
						<%= 'Me: ' + my_points %>
					</div>
					<div class = "four columns mobile-two" style = "text-align: center">
						<%= 'vs' %>
					</div>
					<div class = "four columns mobile-one" style = "text-align: center">
						<%= player.get('first_name') + ' ' + player.get('last_initial') + ': ' + player_points %>
					</div>
				</div>
			</div>
			<div class = "tweleve columns mobile-four" style = "width: 100%; margin-top: 2em">
				<button id = "home" type = "button" class = "success button" style = "width: 100%">Home</button>
			</div>
		</div>
	</div>
</div>