<h3 style = "text-align: center">Quiz Question Source</h3>
<div class = "row">
	<div class = "four columns centered">
		<button id = "back" type = "button" class = "button" style = "width: 100%">Back</button>
		<button id = "dispute" type = "button" class = "button" style = "width: 100%">Dispute Source</button>
	</div>
</div>