<div class = "row">
	<div class = "eight columns centered mobile-four">
		<div class = "row panel">
			<div class = "tweleve columns mobile-four" style = "text-align: center">
				<h5><%= quiz_q.get('question') %></h5>
			</div>
			<div class = "tweleve columns mobile-four" style = "width: 100%; margin-top: 2em">
				<% for (i = 0; i < answers.length; i++) { %>
					<button id = "answer" value = "<%= i %>" type = "button" class = "success button" style = "width: 100%">
						<%= answers[i] %>
					</button>
				<% } %>
			</div>
		</div>
	</div>
</div>