<div class = "row">
	<div class = "eight columns centered mobile-four">
		<div class = "row panel">
			<div class = "tweleve columns mobile-four" style = "text-align: center">
				<h5><%= quiz_q.get('question') %></h5>
			</div>
			<% var time = 10;%>

			<div class = "three columns mobile-one"></div>
			<div class = "six columns mobile-two" style = "margin-top: 1em">
				<div class = "meter-container"></div>
				<div id = "meter" class = "meter-bar" style = "width: 100%"></div>
				<div id = "time" class = "meter-text"><%= time + ' s' %></div>
			</div>
			<div class = "three columns mobile-one"></div>

			<div class = "twelve columns mobile-four" id = "progress_bars"></div>
			<div class = "tweleve columns mobile-four" style = "width: 100%; margin-top: 2em">
				<% for (i = 0; i < answers.length; i++) { %>
					<button id = "answer" value = "<%= i %>" type = "button" class = "primary button" style = "width: 100%">
						<div class = "one columns mobile-one"></div>
						<div class = "ten columns mobile-two">
							<%= answers[i] %>
						</div>
						<div class = "one columns mobile-one" id = "pic"></div>
					</button>
				<% } %>
			</div>
		</div>
	</div>
</div>