<div class = "row">
	<div class = "twelve columns centered">
		<% var left = true; %>
		<% for (i = 0; i < topics.length; i++) { %>
			<% if (left) { %>
			<% left = false; %>
				<div class = "row">
					<div class = "six columns mobile-six">
						<div class = "row panel">
							<div class = "twelve columns mobile-six">
								<button type = "button" class = "primary button" value = "<%= i %>" id = "topic" style = "width: 100%">
									<%= topics[i].get('title') %>
								</button>
							</div>
						</div>
					</div>
			<% } else { %>
			<% left = true; %>
					<div class = "six columns mobile-six">
						<div class = "row panel">
							<div class = "twelve columns mobile-six">
								<button type = "button" class = "primary button" value = "<%= i %>" id = "topic" style = "width: 100%">
									<%= topics[i].get('title') %>
								</button>
							</div>
						</div>
					</div>
				</div>
			<% } %>
		<% } %>
	</div>
</div>