<div class = "row">
<div class = "twelve columns">
<div class = "radius panel row" style = "margin-top: 0.5em; margin-bottom: 0.5em">
	<div class = "twelve columns">
		<% var left = true; %>
		<% topics.each(function(t) { %>
			<% if (left) { %>
			<% left = false; %>
				<div class = "row">
					<div class = "six columns mobile-six">
						<div class = "row">
							<div class = "twelve columns mobile-six" style = "margin-bottom: 0.5em">
								<button type = "button" class = "radius dark button" value = "<%= t.get('id') %>" id = "topic" style = "width: 100%">
									<%= t.get('title') %>
								</button>
							</div>
						</div>
					</div>
			<% } else { %>
			<% left = true; %>
					<div class = "six columns mobile-six">
						<div class = "row">
							<div class = "twelve columns mobile-six" style = "margin-bottom: 0.5em">
								<button type = "button" class = "radius dark button" value = "<%= t.get('id') %>" id = "topic" style = "width: 100%">
									<%= t.get('title') %>
								</button>
							</div>
						</div>
					</div>
				</div>
			<% } %>
		<% }); %>
	</div>
</div>
</div>
</div>